.body{
    background-color: black;
    text-align: center;

}

.card {
    width: 200px;
    height: 350px;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color:#ededed;
    border-radius: 3px;
    border: 5px solid;
    border-color: yellow;
    line-height:50px;
    margin-top: 50px;
  }

img{
  width: 180px;
  height: 230px;
}

button{
  width: 180px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 3px;
}

.container {
  padding: 2px 16px;
  text-align: center;
}

.body-loader{
  background-color: black;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid yellow; /* Blue */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}